doctype html
html
	head
		title= title
		link(rel='stylesheet' href='')
	body
		if email
			h2 Welcome back #{email}
		else
			h2 Login or Register or Something
		ul
			li: a(href='/login') Login
			li: a(href='/register') Register
